.StoreHeader {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 168px;
    height: 100px;

    position: fixed;
    width: 100%;
    margin-top: 50px;
    z-index: 10;
}

.tab-links {
    display: flex;
    align-items: center;
}

.tab-link{
    text-decoration: none;
    font-size: 14px;
    color: #aaa;
    font-weight: 600;

    margin-right: 36px;

    transition: all .1s;
}

.tab-link+.tab-link {
    border-left: 1px solid #aaa;
    padding-left: 36px;
}

.tab-link:hover {
    font-weight: 600;
    color: white;

    transition: all .1s;
}

.StoreHeader-input {
    background-color: #252525;
    display: flex;
    align-items: center;
    height: 40px;
    width: 236px;
    border-radius: 5px;
}

.SearchIcon {
    color: #bbb;
    margin: 16px;
}

.StoreHeader-input input {
    background-color: #252525;
    border: none;
    outline: none;
    font-size: 16px;
    color: #bbb;
}